 // colors
 $ls: lightsalmon;
 $cl: coral;
 // size
 $talla-xs: .6rem;
 $talla-s: 1.2rem;
 $talla-m: 1.6rem;
 $talla-l: 3.2rem;
 $talla-xl: 4.8rem;
 // fonts
 @import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap');
 $osw: 'Oswald',
 sans-serif;
 $ro: 'Roboto',
 sans-serif;