<mat-toolbar color="primary">
    <span>
      <!-- <a  id="poke" routerLink="/prod">
          <img [src]="arrow"
      />
      </a> -->
      <!-- <a *ngIf="router.url == '/detail'" id="poke" routerLink="/">
          <img [src]="button"
      />
      </a> -->
  </span>
    <span class="spacer"></span>
    <ul>
        <!-- <li>
          <a mat-button>
              <img [src]="user">
          </a>
      </li> -->
        <li>
            <!-- <a mat-button>
              <img [src]="cart">
          </a> -->
        </li>
        <li></li>
    </ul>